__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/
.idea/

# Virtual Environments
venv/
.venv/
ENV/
env/

# Env & secrets
.env
firebase-adminsdk.json

# Logs & caches
*.log
*.sqlite3
*.pkl
*.tar
.DS_Store
Thumbs.db
